body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.header,
#app {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    text-align: center;
    color: #1A9AFC;
    font-weight: 100;
    text-transform: uppercase;

    sup {
        text-transform: none;
        font-size: .65em;
    }
}

.carSearch {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;

    input {
        width: 100%;
        font-size: 1.5em;
        height: 3em;
        background: #FAFAFA;
        border: 1px solid #979797;
        border-radius: .25em;
        padding: .5em;
    }
}

.car {
    background: white no-repeat center center;
    background-size: cover;
    height: 200px;
    color: white;
    margin: 1em 0;
    position: relative;

    .basicInfo {
        background: rgba(0,0,0,.15);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 15%, rgba(0,0,0,.75));
        padding: .5em;
        position: absolute;
        bottom: 0;
        width: 100%;

        .price {
            float: right;
        }
    }
}